*.DS_Store
*.xcuserstate
*.xcuserdata
xcuserdata
*.xcuserdatad/**
bin
!ci/bin
!web-load-testing/bin
classes
gen
tmp
target
failed-documents
local.properties
Thumbs.db
BuildConfig.java
android-actionbarsherlock/BuildConfig.java
google-play-services_lib/.settings
.idea
*.iml
.gradle
build
*.dump
app/dev.properties
signing.properties
crashlytics-userlog-*
libobjectbox-macos-x64.dylib
session_analytics.tap
crash_marker
initialization_marker
captures
reports/*
infer-out
